# Force LF for all files that the Mac build server executes as shell scripts
*.sh text eol=lf
*.env text eol=lf
*.env.local text eol=lf
.xcode.env text eol=lf
.xcode.env.local text eol=lf
Podfile text eol=lf
ios/**/*.sh text eol=lf
ios/**/*.env text eol=lf
android/gradlew text eol=lf

# Default: normalize line endings on checkin
* text=auto
